<div id="author">

	<div id="foto">
		<img src="<%= foto %>" />
	</div>
	<div id="nombre">
		<ul>
			<li>Desarrollo de servicios en la nube con HTML5, Javascript y node.js</li>
			<li>Modulo 6. Proyecto Quiz - Ejercicio P2P Obligatorio</li>
			<li>Autor: <%= autor %> </li>
		</ul>
		
	</div>
	<div id="video">No facilita video </div>
</div>
